    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
     :root {
        --primary-color: #10B981;
        --dark-grey: #4B5563;
        --off-white: #F3F4F6;
    }
    
    body {
        font-family: 'Raleway', sans-serif;
        margin: 0rem;
        font-size: large;
    }
    
    hr {
        margin: 2rem 0rem;
    }
    
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .center-container {
        margin: auto;
        max-width: 600px;
    }
    /** links **/
    
    .link {
        text-decoration: none;
        padding: 0.5rem 2rem;
    }
    
    .primary-link {
        background-color: var(--primary-color);
        color: white;
        border-radius: 0.5rem;
        display: block;
        width: 20%;
    }
    
    .secondary-link {
        color: var(--primary-color);
        border-radius: 0.5 rem;
        border: 1px solid var(--primary-color);
        display: block;
        margin-top: 1%;
        width: 20%;
    }
    /** lists **/
    
    .lists-non-bullets {
        list-style: none;
        padding: 0rem;
    }
    
    .list-inline-items {
        display: inline;
        padding-bottom: 0.5rem;
    }
    
    .lists-non-bullets .center-container {
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
    /** navigation **/
    
    .navigation {
        padding: 1rem;
        background-color: var(--primary-color);
        border-bottom-left-radius: 1rem;
        color: white;
    }
    
    .navigation .nav-brand {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .navigation .nav-buttons {
        text-align: right;
    }
    
    .navigation .link {
        color: white;
    }
    
    .navigation .link-active {
        font-weight: bold;
    }
    /** header **/
    
    .hero {
        padding: 2rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    
    .hero .hero-image {
        max-width: 300px;
        display: block;
        margin: auto;
        text-align: center;
    }
    
    .hero .hero-header {
        text-align: center;
        color: var(--dark-grey);
        padding: 1rem;
        font-weight: bold;
        font-size: 2rem;
    }
    
    .hero .hero-header .heading {
        color: var(--primary-color);
    }
    /** section **/
    
    .section {
        padding: 3rem;
    }
    
    .section h3 {
        text-align: center;
    }
    
    .offwhite {
        background-color: var(--off-white);
    }
    /** footer **/
    
    .footer {
        padding: 2rem 1rem;
        background-color: var(--primary-color);
        text-align: center;
        color: white;
        border-top-right-radius: 0.5rem;
    }
    
    .footer .footer-heading {
        font-weight: bold;
        font-size: large;
    }
    
    .footer .link {
        color: white;
    }
    
    .footer ul {
        padding-inline-start: 0px;
    }
    
    .footer .contact-link {
        font-size: large;
        color: white;
    }